{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}

<h1>Hello world!</h1>
<h3>{{ page.banner_title }}</h3>

{% for page in self.get_children.specific %}
    <a href="/{{ page.slug }}">{{ page.title }}</a>
{% endfor %}

{% endblock content %}
